#Experiments
Experiments/

#__pycache__
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

#Simulation Data
*/Data/
*/*/Data/
*/*/*/Data/


#Simulation Figures
*/Figures/
*/*/Figures/
*/*/*/Figures/

#temp files
*/*temp*/
*/*/*temp*/
*/*/*/*temp*/

#paper Figures
Paper_Figures/*.npy
Paper_Figures/*/*.npy
Paper_Figures/*/*/*.npy
Paper_Figures/*/*/*/*.npy

#Poster
Poster/
