#ignoring files
Data/
Data_Experiments/
*/__pycache__/
*/*/__pycache__/
Figures/
.ipynb_checkpoints/

simple_model/data_interlayer/
11_band_code/Figs_p/
11_band_code/Figs_3fold/
11_band_code/old_Data/
